html, body {
	margin: 0;
	padding: 0;
}	
h1 {
	color: white;
	font-size: 50px;
	margin: 0;
}
.titi{
	height: 100%;
	width: 100%;
	text-align:center;
	background-color: pink;
}
.toti{
	color: Pink;
	text-align: center;
}
.tutu{
	color: pink;
	width: 50%;
	height: 30%;
	text-align: center;
	position: absolute;
	top: 100px;
}